body {
  background: #f5f5f5;
}

.card {
  border: 2px solid;
  background: #f5f5f5;
}

.top-card {
  border-color: #317b22;
}

input#budget-input {
  border: solid 1px #317b22;
}

button.btn {
  border: solid 2px;
}

.icon {
  color: #05668d;
  font-size: 3.5rem;
}

.font-1 {
  color: #317b31;
}
.font-2 {
  color: #b80c09;
}

.bottom-card {
  border-color: #b80c09;
}

input#expense-name,
input#expense-amount {
  border: solid 1px #b80c09;
}

.list-item{
    text-align: center;
    flex-basis: 33.33%
}

.expense-item{
    color:#b80c09;
}

.icon-margin{
margin-top: 2.0rem
}

.top-feedback,.btm-feedback{
background: rgb(255, 195, 195);
padding:17px 10px;
}

.hide{
display:none;
}

@media (max-width: 999px) {
  .icon {
    font-size: 2.5rem;
  }
}
